<mat-card class="card">
    <mat-card-header>
        <mat-card-title>{{card.titre}}</mat-card-title>

        <mat-card-subtitle  *ngIf="card.sousTitre">{{card.sousTitre}}</mat-card-subtitle>
    <mat-card-subtitle class = "date" *ngIf="card.date" >
        {{card.date}}
    </mat-card-subtitle>

</mat-card-header>

    <img mat-card-image [src]="card.imageUrl">
    <mat-card-content  *ngIf="card.description">
        <p id="description">
            {{card.description}}
        </p>
    </mat-card-content>
    <mat-card-actions *ngIf="card.titleButton">
        <button mat-button>{{card.titleButton}}</button>
      </mat-card-actions>
</mat-card>