<mat-toolbar>
    <div id="lien-externes">
        <button mat-button class="lien-externes-button" ><a href="../assets/CV Adrien Radisson.pdf"  target="_blank">CV</a>
        </button>
        <button mat-button class="lien-externes-button"><a href="http://www.linkedin.com/in/adrien-radisson">Linkedin</a>
        
        </button>
    </div>
    <div class="cube">
      <div class="face front"></div>
      <div class="face back"></div>
      <div class="face right"></div>
      <div class="face left"></div>
      <div class="face top"></div>
      <div class="face bottom"></div>
    </div>
    <button mat-icon-button *ngIf="sidenav.mode === 'over' && !sidenav.opened " (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button *ngIf="sidenav.mode === 'over' && sidenav.opened " (click)="sidenav.close()">
        <mat-icon>close</mat-icon>
    </button>

</mat-toolbar>
<mat-sidenav-container>

    <mat-sidenav #sidenav="matSidenav">
        <div class="side-content">
            <div id="profil">
                <div class="image-profil"><img class="avatar" src="./../assets/photo_adrien_petit.jpg" />
                </div>

                <h4 class="name">Adrien Radisson</h4>
                <p class="designation">Développeur logiciel</p>
                <div class="line-separator"></div>

            </div>


            <div id="sidenav-content">
                <button mat-button class="sidenav-button" [routerLink]="['']">
                    <mat-icon class="icon-sidenav">person</mat-icon>                   
                     <span>Contact</span>

                </button>

                <button mat-button class="sidenav-button" [routerLink]="['competence']">
                    <mat-icon class="icon-sidenav">star</mat-icon>
                    <span>Compétences</span>


                </button>
                <button mat-button class="sidenav-button" [routerLink]="['experience']">
                    <mat-icon class="icon-sidenav">business_center</mat-icon>
                    <span>Expériences</span>

                </button>

                <button mat-button class="sidenav-button" [routerLink]="['formation']">
                    <mat-icon class="icon-sidenav">school</mat-icon>
                    <span>Formation</span>

                </button>
                <button mat-button class="sidenav-button" [routerLink]="['activite']">
                    <mat-icon class="icon-sidenav">directions_run</mat-icon>
                    <span>Activités</span>

                </button>

            </div>
            

        </div>

    </mat-sidenav>

    <mat-sidenav-content>
        <div class="main-content mat-elevation-z8">
            <router-outlet></router-outlet>

        </div>
    </mat-sidenav-content>

</mat-sidenav-container>
