<div class="fond-diagonal">
    <img class="photo" src="./../../assets/photo_adrien_sans_decor.png">

    <div id="accueil">

        <div id="info-content">
            <div id="presentation">
                <span id="nom">Adrien Radisson</span>
            </div>

            <div class="line-separator"></div>

            <div id="icon-content">
                <div class="icon">
                    <mat-icon>phone</mat-icon><button class="copy-button" [cdkCopyToClipboard]="telephone"
                        title="Copier">{{telephone}}</button>
                </div>
                <div class="icon">
                    <mat-icon>mail</mat-icon><button class="copy-button" [cdkCopyToClipboard]="adresseMail"
                        title="Copier">{{adresseMail}}</button>
                </div>
                <div class="icon">
                    <mat-icon>home</mat-icon> 23 rue du Loyat Charnoz-sur-Ain 01800
                </div>
                <div class="icon">
                    <mat-icon>directions_car</mat-icon> permis B (véhiculé)
                </div>
            </div>


        </div>

    </div>
</div>